# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Environment variables
.env

# Kubernetes
kubeconfig

# Minikube
.minikube/

# Terraform plans
*.tfplan
